*{
  box-sizing: border-box;
}
body{
  margin:0;
  padding:0;
}
.mobile{
  background-color: black;
  position: absolute;
  top: 10%;
  left: 35%;
  width: 27rem;
  height: 800px;
  border-radius: 20px;
}
.homescreen{
  position: absolute;
  border-radius: 20px;
  width: 98%;
  height: 97%;
  top: 1%;
  left: 1%;
  scrollbar-width: 0;
}
.mobile .camera{
  background-color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 7px 75px;
  position: absolute;
  left: 27%;
}
.mobile .camera::after{
  content: " ";
}
@media (max-width:1000px) {
  .mobile{
    width: 40%;
    left: 40%;
    height:50%;
  }
}
